.current {
    display: block;
}

.hamodal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1001;
    overflow: hidden;
}

.hamodal-content {
    height: 0px;
    width: 50%;
    margin: auto;
}

.hamodal-active {
    height: 100%;
    background: magenta;
}

.hamodal-show-container {
    display: block !important;
}

.hamodal-hide-container {
    display: none !important;
}

.hamodal-active {
    height: 100%;
    background: none;
}

.hamodal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1000;
    padding: 2em;
    padding-bottom: 4em;
    background: rgba(0, 0, 0, .5);
}

.hamodal-close {
    display: block;
    position: relative;
    z-index: 999;
    left: 85%;
    top: -.5em;
    padding: .25em 1em .25em 1em;
    margin-left: -1.35em;
    /*border-bottom:2px solid #fcfcfc;
    
    background: #fcfcfc;*/
}

a.hamodal-close,
i.hamodal-close {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
}

.hamodal-content {
    display: block;
    position: relative;
    z-index: 999;
    width: 75%;
    height: 100%;
    /*max-width: 1024px;*/
    padding: 2em;
    opacity: 1;
    overflow: visible;
    text-align: center;
    background: #fcfcfc;
    border: 1px solid #000;
    border-radius: .1250em;
    box-shadow: 0px 3em 4em -1em rgba(0, 0, 0, .5);
}

@media (max-width:600px) {
    .hamodal-container {
        padding: 1em;
        padding-bottom: 2.5em;
    }
    .hamodal-content {
        width: 100%;
    }
}

.hamodal-content>* {
    width: 100%;
}